*,
*::before,
*::after {
    box-sizing: border-box;
}


/**********************************/


/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Menu
/* 3. Header
/* 4. How Play
/* 5. Objetivos
/* 6. Game
/* 7. Footer


/**********************************/


/* 0. Variáveis
/**********************************/

:root {
    --clr-blue-dark: #04409a;
    --clr-blue-light: #0b8ef9;
    --clr-yellow-dark: #f8a100;
    --clr-yellow-light: #ffd666;
    --clr-white: #f5f5f5;
    --bg-clr-on: #f0f0f0;
    --bg-clr-tw: #fffaee;
    --scroll--clr: #ffbc6f;
}


/**********************************/


/* 1. Estilos gerais
/**********************************/

body {
    background: var(--bg-clr-on);
}

a,
a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

hr {
    border: none;
    background: var(--clr-yellow-dark);
    height: 2px;
    width: 140px;
    margin: 20px auto;
}

p,
.obj__txt {
    font-size: 0.9rem;
    line-height: 21.82px;
    padding: 0 10px;
}

.title__sec {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

img,
.obj-img {
    display: block;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    background: var(--scroll--clr)
}

::-webkit-scrollbar-thumb {
    background: var(--clr-yellow-dark);
    border-radius: 2px;
    border: 1px solid #fff;
}


/**********************************/


/* 2. Menu
/**********************************/

.menu-bg {
    background: var(--clr-blue-light);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.menu__logo {
    margin: 10px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav__link {
    padding: 20px 10px;
}


/**********************************/


/* 3. Header
/**********************************/

.intro {
    font-weight: bold;
    /* font-size: 3rem; */
    text-align: center;
    margin: 0 auto;
    padding: 25px 0;
}

.intro .title__text {
    font-size: 2rem;
}

.intro .sub__text {
    font-size: 1.2rem;
}

.intro-c {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: auto;
    height: 50vh;
}

.btn {
    font-size: 1.12rem;
}


/**********************************/


/* 4. How Play
/**********************************/


/* section class="howplay"
    h2 class="title__sec"
    div class="howplay-c"
        div class="howplay-c__txt"
            p class="howplay-txt"
        div class="howplay-c__img"
            img class="howplay__img"
        <!-- howplay c -->
*/

.howplay {
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
}

.howplay-c {
    display: flex;
    flex-wrap: wrap;
}

.howplay-c__txt {
    flex: 6 1 160px;
    /* versão resumida do flex-grow flex-shrink e flex-basis respectivamente*/
}

.howplay-c__img {
    flex: 1 1 230px;
}

.howplay-img {
    transform: rotate(8deg);
}


/**********************************/


/* 5. Objetivos
/**********************************/


/* section class="obj"
    h2 class="obj__sec"
    div class="obj-c"
        div class="obj-c__txt"
            p class="obj-txt"
        div class="obj-c__img"
            img class="obj__img"
        <!-- obj c -->
*/

.obj {
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 40px;
}

.obj-c {
    display: flex;
    flex-wrap: wrap;
}

.obj-c__txt {
    flex: 6 1 160px;
    /* versão resumida do flex-grow flex-shrink e flex-basis respectivamente*/
}

.obj-c__img {
    flex: 1 1 230px;
}

.obj-img {
    transform: rotate(8deg);
}


/**********************************/


/* 6. Game
/**********************************/

.game__sect {
    background: var(--bg-clr-tw);
    height: 96vh;
    display: flex;
}

.game__screen {
    border: solid 3px var(--clr-yellow-dark);
    width: 1280px;
    height: 720px;
    margin: 50px auto;
    background-image: url('/img/pista.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.barreira {
    width: 1274px;
    height: 717.5px;
    z-index: 999;
    background-image: url('/img/cerca.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/**********************************/


/* 7. Footer
/**********************************/

.footer {
    background-color: var(--clr-blue-dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px calc((100% - 960px) / 2);
    color: var(--bg-clr-tw);
}

.footer p {
    font-size: 0.8rem;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__logo {
    width: 100px;
    flex: 1 1 230px;
}

.footer__c {
    flex: 6 1 260px;
}